.joke-container {
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.title {
  color: #646464;
  font-size: 36px;
}

.btn {
  background-color: #5881d4;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.joke {
  font-size: 24px;
  color: #666;
  line-height: 1.5;
}
 body {
    background-image: url("https://png.pngtree.com/background/20220718/original/pngtree-abstract-comic-sun-rays-background-picture-image_1657978.jpg");
    background-size:auto;
    background-repeat: no-repeat;
    background-attachment:initial;
    background-position:center;
  }
  

